<h1>Create a Team and Heroes!</h1>
<form method = "post" action = "/">
  <label>Team Name: <input type = "text" name = "team[name]"></label>
  <label>Team Motto: <input type = "text" name = "team[motto]"></label>
  <label>Hero's Name: <input type = "text" name = "team[hero][][:name]"></label>
  <label>Hero's Power: <input type = "text" name = "team[hero][][:power]"></label>
  <label>Hero's Biography: <input type = "text" name = "team[hero][][:biography]"></label>
  <label>Hero's Name: <input type = "text" name = "team[hero][][:name]"></label>
  <label>Hero's Power: <input type = "text" name = "team[hero][][:power]"></label>
  <label>Hero's Biography: <input type = "text" name = "team[hero][][:biography]"></label>
  <label>Hero's Name: <input type = "text" name = "team[hero][][:name]"></label>
  <label>Hero's Power: <input type = "text" name = "team[hero][][:power]"></label>
  <label>Hero's Biography: <input type = "text" name = "team[hero][][:biography]"></label>
  <input type = "submit" value = "submit" id = "submit">
</form>